 body {
     background-color: rgba(0, 0, 0, 0);
     margin: 0px auto;
     overflow: hidden;
     font-family: "tahoma", sans-serif;
 }

/* Normal td */
.scData > td {
 	background-color: #444444;
	color: #ebebeb;
	padding: 2px;
	font-weight: bold;
}

/* McGolf td's */
.mcGolf {
	font-family: "Gotham Condensed", "Montserrat", sans-serif;
	color: rgba(255, 255, 255, 0.9);
}

.mcScHeader > td {
 	background-color: #333FBC99;
 	width: 28px;
	padding: 2px;
}
.mcScSubHeader > td {
 	background-color: #5A91CB99;
	color: rgba(0, 0, 0, 0.9);
	padding: 2px;
}
.mcScData > td {
 	background-color: #333FBC99;
	padding: 2px;
	font-weight: bold;
}
.mcScHeader > td.band {
 	background-color: #0D1FE299;
}
.mcScSubHeader > td.band {
 	background-color: #6BE5F599;
}
.mcScData > td.band {
 	background-color: #0D1FE299;
}


/* td special overrides */
td.blank {
	text-decoration: underline;
}
td.bogey {
	color: red;
}
td.birdie {
	color: lime;
}
td.eagle {
	color: yellow;
}

.scoreCard > table {
	text-align: center;
	border-collapse: collapse;
}
.scHeader > td {
 	width: 28px;
 	background-color: blue;
	background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	color: #ebebeb;
	padding: 2px;
}
.scHeader > td.scTotal, .scSubHeader > td.scTotal {
	width: 64px;
	color: white;
}
.scData > td.scTotal, .scData > td.scName {
	font-size: 15pt;
	color: white;
	padding: 8px;
}
.scSubHeader > td {
 	background-color: #232323;
	color: #c0c0c0;
	padding: 2px;
}
/* Vertical card extras */
.vscHeader > td {
 	background-color: #232323;
	text-transform: capitalize;
	font-size: 8px;
	font-weight: lighter;
	color: white;
}
.vscTotal > td.done {
 	background-color: #232323;
	color: white;
	font-weight: bold;
}
.vscTotal > td {
	color: #ebebeb;
	font-weight: lighter;
	padding: 5px;
}
.vscData > td {
 	background-color: #444444;
	color: #ebebeb;
	height: 28px;
}
.vscData > td.par {
	background: url('http://shorne.noip.me/downloads/images/white-disc.png'), #444444;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
	height: 28px;
}
.vscData > td.bogey {
	background: url('http://shorne.noip.me/downloads/images/black-disc.png'), #444444;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	color: #ebebeb;
}
.vscData > td.birdie {
	background: url('http://shorne.noip.me/downloads/images/lime-disc.png'), #444444;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
}
.vscData > td.eagle {
	background: url('http://shorne.noip.me/downloads/images/yellow-disc.png'), #444444;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
}

 .noShow {
     visibility: hidden;
 }

 .fadeInElm {
     visibility: visible;
     opacity: 1;
     transition: opacity 1s linear;
 }

 .fadeOutElm {
     visibility: hidden;
     opacity: 0;
     transition: visibility 0s 1s, opacity 1s linear;
 }

 /* blink code */

 @keyframes blinking {
     0% {
	 background-color: #ffffff;
     }

     100% {
	 background-color: lightgreen;
     }
 }

 .winBlink {
     animation: blinking .10s 4;
 }


 @keyframes extblinking {
     0% {
	 background-color: green;
     }

     100% {
	 background-color: red;
     }
 }

 /* Fading animation */
 .fade {
     animation-name: fade;
     animation-duration: 1.5s;
 }

 @keyframes fade {
     from {
	 opacity: .4
     }

     to {
	 opacity: 1
     }
 }
